initial-utilities/wcat/tests-out/
initial-utilities/wcat/wcat
initial-utilities/wgrep/tests-out/
initial-utilities/wgrep/wgrep
initial-utilities/wunzip/tests-out/
initial-utilities/wunzip/wunzip
initial-utilities/wzip/tests-out/
initial-utilities/wzip/wzip